 <article class="grid grid--1x2-1 feature">
        <div>
            <h3 class="feature__heading">
                About Me
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt facere animi assumenda repellendus. Eos, voluptatum. Perspiciatis obcaecati magnam ratione consectetur.</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="Images/resized/ViraajRane_pfp.jpg 1x, Images/resized/ViraajRane_pfp_2x.jpg 2x">
            <img src="Images/resized/ViraajRane_pfp_resized.jpg" alt="">
        </picture>
    </article>