<section class="block hero">
    <div class=" grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="block__heading">VJ's Visuals</h1>
            <p class="hero__tagline">Nature, Portraits, Sports and More</p>
            <a href="" class="btn btn--accent btn--stretched">View Gallery</a>
        </header>
        <picture>
            <source type="image/jpg" srcset="images/resized/mounttamalpais-23_resized.jpg 2x, images/resized/mounttamalpais_resized_small.jpg 1x">
            
            <img class="hero__image"src="images/mounttamalpais-23.jpg" alt="">
        </picture>
    </div>
   </section>