 <nav class="nav collapsible">
        <a href="/"><img style="width: 100px; height: auto" src="images/logo.webp" alt=""></a>
        <svg class="icon icon--black nav__toggler">
            <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
            <li class="nav__item"><a href="#">Gallery</a></li>
            <li class="nav__item"><a href="#">About</a></li>
            <li class="nav__item"><a href="#">Bookings</a></li>
        </ul>
    </nav>