<div class="plan">
            <div class="card card--primary">
                <header class="card__header">
                    <h3 class="plan__name">Group Session</h3>
                    <span class="plan__price">$100</span>
                    <span class="plan__billing-cycle">/hour</span>
                    <span class="badge badge--secondary badge--small">10% off</span>
                    <span class="plan__description">Groups of 4+</span>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">50+ Edited Images</li>
                        <li class="list__item">Advanced Retouching</li>
                        <li class="list__item">7-14 Day Turnaround</li>
                        <li class="list__item">Includes Solos (Limited)</li>
                    </ul>
                    <button class="btn btn--outline btn--block btn--primary">Request this Session</button>
                </div>
            </div>
</div>